.product-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
  }
  
  .product-card img {
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product-details {
    font-size: 14px;
  }
  
  .price {
    color: #007bff;
    font-weight: bold;
  }
  
  .location {
    margin-top: 8px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
   /* styles.css */

.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  justify-items: center;
  }
  .products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  justify-items: center;
  }
   
  /* .product-card {
    border: 0px solid #ddd;
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    
  
  } */
  
  .product-card img {
    max-width: 30%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product-details {
    font-size: 14px;
    z-index: 1000;
  }
  
  .price {
    color: #007bff;
    font-weight: bold;
  }
  
  .location {
    margin-top: 8px;
  }
  
  /* button {
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5410d3;
  }
   */
  
  .product-details {
    font-size: 14px;
    z-index: 1000; 
  }
  
  .product-details .product-image {
    max-width: 100%;
    max-height: 100%;
  }

  .product-card .expanded-image {
    max-width: 100%;
    height: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
     position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  /* .product-card .expanded-image:hover {
    transform: scale(0.1);
  }  */

  /* @media screen and (max-width: 1000px) {
    .product-list {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
  
  @media screen and (max-width: 600px) {
    .product-list {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
  }  */
  
  .properties{
    color: rgb(59, 28, 199);
    margin-left: 5%;
    font-size: 30px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  text-shadow: #4caf50;
 text-decoration: underline;
  } 
  /* @media screen and (max-width: 1000px) {
    .products {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
  
  @media screen and (max-width: 600px) {
    .products {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
  }  */
  /* .product-card {
    border: 0px solid #ddd;
    padding: 15px;
    margin: 10px;
    width: calc(25% - 20px); 
    cursor: pointer;
    max-width: 200%; 
    height: auto;
    margin-bottom: 10px;
  }
   */
  