*{
    margin: 0;
    padding: 10;
  
}
body{
       background: rgb(240, 231, 231);
       justify-content: center;
}
.container2{
  display: flex;
  
  justify-content: center;

}

.find{
  flex-direction: column;
  position: relative;
  background: white;
  box-shadow: 3px 5px 7px 7px rgb(175, 168, 168);
  
  opacity:.8
}
.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
 
}
.navbar{
  
    
    align-items: center;
    flex-direction: row;
    background: rgb(150, 11, 34);
    color: aliceblue;
    margin: 0px;
    border-bottom: 15px solid black;
   
}
h5{
  font-size: 50px;
    display: flex;
    justify-content: center;
    flex: content;
    margin: 0;
    padding: 5px;
    flex: 1;
}

.next{
    
    width: 100%;
    background: rgb(230, 224, 224);
    display: flex;
    justify-content: space-between;
    height: 50px;
    box-shadow: 3px 5px 7px 7px rgb(175, 168, 168);
    border-top: 3px solid rgb(223, 217, 217);

}
.next h6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(18, 77, 77);
    border: 2px solid rgb(117, 110, 110);
    padding: 6px;
    margin: 7px;
}
.App-logo {
    justify-content: center;
    height: 50vmin;
    pointer-events: none;
  }
  .contents{
    display: flex;
    box-shadow: 3px 5px  rgb(175, 168, 168);
   
  }

  .fin{
    font-size: 30px;
   padding-left: 20px;
   color: rgb(48, 32, 8);
  }
  .foot{
    display: flex;
   
    align-items: center;
    justify-content: center;
    margin: 50px;
    border: 3px ;
    width: max-content;
 
  

   
  }
  .flex h3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 7px;
    height: 20px;
    width: 100%;
    background-color: rgb(53, 4, 10);
    box-shadow: 3px 5px 7px 7px rgb(175, 168, 168);
    color: beige;
  }
  p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  /* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
 .menu-icon{
  color: azure;
  position: absolute;
  margin-top: -8%;
  margin-left: 2%;
 }
 .tog{
  background-color: rgb(150, 11, 34);
  color: beige;
  position: relative;
 


 
 }
 ul {
list-style: none;
color: azure;
text-decoration: none;
}
.tog a{
  color: beige;
  text-decoration: none;
  
}
.news ul{
  text-decoration: none;
}
/* .navbar.ul.li{
    list-style: none;
    color: azure;
} */
.post{
  background-color: red;
  color: red;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #e61313;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}